<div>
  <input type="button" (click)="showEvent($event)" value="单击">
</div>
<div>
  <img [src]="imgUrl" alt="">
  <img src="{{imgUrl}}" alt="">
</div>
<div>
  <input type="button" value="Tom" (click)="doOnInput($event)">
</div>
<!--<div [class]="divClass">-->
   <!--前端样式-->
<!--</div>-->
<!--<div class='a b' [class.c]="isBig">-->
  <!--前端样式-->
<!--</div>-->
<!--<div [ngClass]="showNg">-->
  <!--ngClass使用-->
<!--</div>-->
<!--<div [style.color]="isD?'red':'blue'">-->
 <!--style.color的使用-->
<!--</div>-->
<!--<div [style.font-size.em]="isFontChange ? 3:1">-->
  <!--字的大小的变化-->
<!--</div>-->
<!--<div [ngStyle]="div2Style">-->
<!--ngStyle的使用-->
<!--</div>-->

<!--<div>-->
  <!--圆周率{{pi | number: '3.1-4'}}-->
<!--</div>-->

<!--<div>-->
  <!--测试自定义的管道:{{ss | multiple: 9}}-->
<!--</div>-->

